.DS_Store

vector_store/
__pycache__/
.venv/
build/
dist/
*.egg-info/
.eggs/
pip-log.txt
pip-delete-this-directory.txt
resources/*.pdf
resources/logs
resources/all_docs

fe-react/node_modules/
fe-react/.DS_Store

.venv